/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.monetize-me {
    display: flex;
    flex-direction: column;

    .ad-wrapper {
        margin-bottom: $gutter;
    }

    &.right-align {
        float: right;

        .ad-wrapper {
            margin-left: $gutter;
        }
    }

    &.center-align {
        width: 100%;
        text-align: center;

        .ad-wrapper {

        }        
    }

    &.left-align {
        float: left;

        .ad-wrapper {
            margin-right: $gutter;
        }        
    }
}

/**
 * <= 575px
 */
 @media (max-width: $bpsdMax) {
    .monetize-me {   
        &.right-align {
            width: 100%;
            text-align: center;
        }
    
        &.left-align {
            width: 100%;
            text-align: center;        
        }
    }
}
